
$color-azul: #0b3e96;
$color-violeta: #811271;
$color-vclaro: #AD28B3;
$color-letras: #d455db;
$corte1: 720px;










body{
    
    font-family: 'Poppins',  sans-serif;
    font-weight: normal;
    background-color: #fff;
    margin: 0;
    padding: 0;
   
    
} 


.main{
    min-height: calc(100vh - 110px);
    padding-top: 95px;
    max-width: 100vw;
   /*  margin-left: 20px;
    margin-right: 20px; */
    
   
    
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;500;800&family=Comforter&family=Poppins:wght@300;400;500;700&display=swap');
@import "header";
@import "menu-responsive";
@import "footer";




.fotos-top{
    box-shadow:0 0 8px #000;
   
    .swiper-slide{
        background-size: cover;
    
        height: auto;
        background-position: center center ;
        background-repeat: no-repeat;
       
       
        
    }
}

#otoño-sma{
    background-position: 0px -30px;

}
#verano-sma{
    background-size: cover;
    
}




.contenedor-img{
   

    max-width: 100%;
    margin: 0 auto;
}

//declaracion jurada-------------------------------------------------------

.contenedor-tarjeta{
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
    .tarjetass{
        width: 100%;
        height: 110px;
        margin-top: 30px;
        margin-bottom: 30px;
       
       
    
        h3{
            font-size: 20px;
            color: $color-violeta;
            margin-left: 10px;
            font-weight: 700;
    
        }
        p{
            font-size: 0.8rem;
            margin-left: 5px;
            
           
        }
    }
}


//codigo QR de bureau---------------------------

.bureau-img{
    margin-bottom: 100px;
    max-width: 1200px;
    

   .caja-img{
        padding-left: 0;
        margin-left: 0;
        box-shadow:0 0 8px #000;
        
       img{
           align-items: center;
           position: relative;
           width: 100%;

        }
    } 
}

// muni en mano e informacion en linea---------------------

.municipalidad{
    position: relative;
    width: 100%;
    background-image: url(/images/municipalidad.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    justify-content: space-between;
    box-shadow:0 0 8px #000;
    
    .texto-muni{
        position: absolute;
        display: block;
        width: 100%;
        height: 600px;
      
        h2{
            color: #fff;
            text-transform: uppercase;
            margin: 20px 150px;
            text-align: center;
            font-weight: 700;
            font-size: 1.6rem;
           
        }  
        
        h3{
           
            margin-bottom: 180px;
        }
        .nav-muni{

            background: #fff;
            opacity: 0.6;
            height: 70px;
            padding: 5px;
            display: flex;
            align-items: center;

            .navegador_muni{
                padding: 5px;
                display: block;
                margin: 0 auto;
                a{
                opacity: 0.9;
                margin: 50px;
                color: #000;
                margin: 8px;
                text-decoration: none;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                padding:0 5px;
                
                
              
                
               
                }
                a:hover{
                   
                    
                    background-color:#181818 ;
                    color: #fff;
                }
            }
        
        }
       
    }

    
    .ctn-img-muni{
        z-index: 0;
        content: "";
        width: 100%;
        height: 600px;
        position: absolute;
        background: #000;
        opacity: 0.4;
        
    } 
}

//info en linea------------------------------------------


.informacionEnLinea{
    position: relative;
    width: 100%;
    background-image: url(/images/infoEnLinea.jpg);
    margin-top: 100px;
    margin-bottom: 50px;
    height: 600px;
    background-size: cover;
    justify-content: space-between;
    box-shadow:0 0 8px #000;
    .texto-InformacionEnLinea{
        position: absolute;
        display: block;
        width: 100%;
        height: 600px;
      
        h2{
            color: #fff;
            text-transform: uppercase;
            margin: 20px 200px;
            text-align: center;
            font-weight: 700;
            font-size: 1.6rem;
           
        }  
        h3{
            margin-bottom: 180px;
        }
       
        .nav-informacionEnLinea{

            background: #fff;
            opacity: 0.6;
            height: 70px;
            padding: 5px;
            display: flex;
            align-items: center;
            .navegador_informacionEnLinea{
              
                margin: 0 auto;
            
                a{
                opacity: 0.9;
                
                color: #000;
                margin: 8px;
                text-decoration: none;
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
               
               
                }
                a:hover{
                    
                    
                    background-color:#181818 ;
                    color: #fff;
                }
            }
        
        }
       
    }

    
    .sombraInfo{
        z-index: 0;
        content: "";
        width: 100%;
        height: 600px;
        position: absolute;
        background: #000;
        opacity: 0.4;
        
    } 
}


//tajetas---------------------------------------------------

.normativa-municipal{
    width: 100%;
    height: 400px;
    margin: 5px;
    background-image: url(/images/normativa.jpg);
    background-size: cover;
   
    box-shadow:0 0 8px #000;
  
    
    h3{
        color: $color-letras;
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;
        background-color: #181818;
        
        margin: 20px;
        margin-bottom: 40px;

    }
    a{
        background-color: #fff;
        opacity: 0.7;
        color: #000;
        display: block;
        text-align: center ;
        font-size: 1.3rem;
        text-decoration: none;
        margin: 20px;
    }
    a:hover{
        color: #fff;
        background-color: #181818;
    }
}


.rentas{
    width: 100%;
    height: 400px;
    margin: 5px;
    box-shadow:0 0 8px #000;
    
    h3{
        color: $color-violeta;
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;
    }
    h4{
        font-size: 1rem;
        text-align: center;
        
    }
    a{
        display: block;
        text-align: center;
        margin: 5px 10px;
    }
}



.licitaciones-publicas{
    width: 98%;
    height: 400px;
    margin: 5px;
    box-shadow:0 0 8px #000;
    .img-viviendas{
        padding: 10px;
        background-image: url(/images/viviendas.jpg);
        background-size: cover;
        height: 400px;
        width: 100%;
        background-position-x:-80px ;
        
    }
    h3{
       font-size: 1.4rem;
       background: #181818;
       
       text-align: center;
       color: $color-letras;
       margin-bottom: 100px;
       margin-top: 30px;
       text-transform: uppercase;
    }
   
    a{
        background-color: #fff;
        opacity: 0.7;
        color: #000;
        display: block;
        text-align: center ;
        font-size: 1.3rem;
        text-decoration: none;
    }
    a:hover{
        color: #fff;
        background-color: #181818;
    }
}
 


@media (max-width: $corte1){
    .main{
        width: 100vw;
        .contenedor-img{
            margin-bottom: 20px;
            .ctn-imagenes{
                height: 220px;
            }
        }
    
        .logo-cortado{
            padding-left: 10px;
        }
        .fotos-top{
            width: 100%;
        
            box-shadow:0 0px 8px #000;
            .swiper-slide{
               
                background-size: cover;
                border-radius: 0;
                height: auto;
                background-position: center center ;
            
                
            }
    
        }
    
    
        .tarjetass{
            display: none;
        }

        .bureau-img{
            display: none;
            .caja-img{
                img{
                    padding-left: 0;
                }
            }
        }

        .municipalidad{
            position: relative;
            width: 100%;
            background-image: url(/images/municipalidad.jpg);
            background-repeat: no-repeat;
            height: 500px;
            background-size: cover;
            
            box-shadow:0 0 8px #000;
            
            .texto-muni{
                position: absolute;
                display: block;
                width: 100%;
                height: 500px;
                
              
                h2{
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 20px;
                    font-weight: 700;
                    font-size: 1.6rem;

                }  
                h3{
                    display: none;
                }
               
                .nav-muni{
                    position: relative;
                    background: #fff;
                    opacity: 0.6;
                    height: 350px;
                    margin: 10px;
                    margin-top: 30px;
                    align-items: center;
                    flex-direction: column;
        
                    .navegador_muni{
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        
                        
                
                        a{
                        opacity: 0.9;
                        color: #000;
                        margin: 15px 0;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                        padding:0 5px;
                        text-align: center;
                       
                      
                        
                       
                        }
                        a:hover{
                           
                            
                            background-color:#181818 ;
                            color: #fff;
                        }
                    }
                
                }
               
            }
        
            
            .ctn-img-muni{
                z-index: 0;
                content: "";
                width: 100%;
                height: 500px;
                position: absolute;
                background: #000;
                opacity: 0.4;
                
            } 
        }
        
        
      

        .informacionEnLinea{
            position: relative;
            width: 100%;
            background-image: url(/images/infoEnLinea.jpg);
            margin-top: 50px;
            margin-bottom: 50px;
            height: 500px;
            background-size: cover;
            justify-content: space-between;
            box-shadow:0 0 8px #000;
            .texto-InformacionEnLinea{
                position: absolute;
                display: block;
                width: 100%;
                height: 500px;
              
                h2{
                    color: #fff;
                    text-transform: uppercase;
                    margin:20px 5px;
                   
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.6rem;
                   
                }  
                h3{
                    display: none;
                }
               
                .nav-informacionEnLinea{
        
                    position: relative;
                    background: #fff;
                    opacity: 0.6;
                    height: 350px;
                    margin: 10px;
                    margin-top: 30px;
                    align-items: center;
                    flex-direction: column;
                    .navegador_informacionEnLinea{
                      
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    
                        a{
                            opacity: 0.9;
                            color: #000;
                            margin: 15px 0;
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: uppercase;
                            padding:0 5px;
                            text-align: center;
                       
                        }
                        a:hover{
                            
                            
                            background-color:#181818 ;
                            color: #fff;
                        }
                    }
                
                }
               
            }
        
            
            .sombraInfo{
                z-index: 0;
                content: "";
                width: 100%;
                height: 500px;
                position: absolute;
                background: #000;
                opacity: 0.4;
                
            } 
        }
         
    }
    #otoño-sma{
        background-position: 0px 0px;
    
    }
    #verano-sma{
        background-position-x:-250px;
    }

    .licitaciones-publicas{
        width: 100%;
        margin: 0;
        padding: 0;
       
    }
    .rentas{
        margin:5px;
    
    }

  
}


